/*---------------
 1.Navigation

 2.Welcome-area

 3.About

 4.Skills

 5.Projects

 6.Contact-me

 7.Footer
*/
 /*---------------
 1.Navigation
 */
 
 #myNavbar {
	 text-transform:uppercase;
	  
 }
 
 /*---------------
 2.Welcome-area
 */
 
 .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../images/welcome.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height:112vh;
}

.header-text h2 {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}

.header-text h2 span {color: #6495ED;}

.button {
  background-color: #6495ED;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
	 background-color:rgba(0,0,0,0.7);
}

/*---------------
 3.About
 */
 
.about {
    padding: 90px 0 100px;
}
.about-content {
    padding-top: 100px;
}

.single-about-img{
    position: relative;
}

.single-about-img:before {
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 109%;
    height:  100%;
   
}
.single-about-img img {
    max-width: 500px;
    height: 468px;
}

/*---------------
 4.Skills
 */
 
.skill-content{ 
    padding: 90px 0 80px;
}

.single-skill-content ul{
    list-style-type: none;
	color: white;
	line-height: 2.8;
}

.single-skill-content h3 {
	color: white;
}

#heading {
	padding-bottom: 50px;
    color: white;
}

.skills {
	background:url(../images/skills.jpg)no-repeat;
    background-size:cover;
	padding-bottom: 250px;
	}
	
@media screen and (max-width: 800px) {
	.skills {
	padding-bottom: 50px;
	}
	
}	

/*---------------
 5.Projects
 */
 
.portfolio {
    padding:  90px 0 100px;
    border:  1px solid #e5ebf2;
}

.portfolio-content {
    padding-top: 100px;
}

/* ---- .item ---- */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}
.isotope .item {
    position:relative;
    overflow:hidden;
    margin-bottom: 30px;
}
/*.item img*/
.isotope .item img{
    width:100%;
    height:100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
	
}
.isotope .item:hover  img{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
	cursor: pointer;
	
}/*.item img*/

/*.isotope-overlay*/
.isotope-overlay{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(31,44,108,.5);
    display:flex;
    align-items:center;
    text-transform: uppercase;
    justify-content:center;
    flex-direction:row;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.isotope-overlay a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.isotope .item:hover .isotope-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    top:0;
	cursor: pointer;
}/*.isotope-overlay*/

/* description text*/
.project-description {
	display: inline;
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
	
	.project-description p{
		font-size: 11px;
	}
}
 
/*---------------
 6.Contact-me
 */
 
 .contact{
	display: flex;
    align-items: center;
    justify-content: center;    
    background-color: black;
    background-position: center;
    height:380px;
}

.header-text-contact h2{
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}

.header-text-contact p {
	color: #fff;
}

.rest-contact {
	padding-top: 150px;
	padding-bottom: 150px;
	display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../images/contact-me.jpg)no-repeat;
    background-size:cover;
    background-position: center;
}

#submit {
	margin-top:15px;
}



/*---------------
 7.Footer
 */
 
 .footer {
	 background-color: black;
	 padding-top: 2%;
	 padding-bottom: 2%;
 }
 
 .footer .icons {
	 letter-spacing: 10px;
	 color: white;
 }
 
 .icons:hover{
	 cursor: pointer;
 }
 
 .icons a:link {
	 color: white;
 }
 
 .icons a:visited {
	 color: white;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

